:root{
    --verde-escuro:#1d420c;
    --verde-claro: #86C232;
    --cinza-escuro: #222529;
    --cinza-medio: #474B4F;
    --cinza-claro: rgb(83, 94, 102);
}

*{
    margin: 0px;
    padding: 0px;
    color: white;
    background-color: var(--cinza-escuro);

}

#main{
    width:100%;
}

#navbar{
    position: fixed;
    top:0;
    left:0;
    width:100%;
    z-index: 10;
    max-height:200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: flex-end;
    background-color: var(--verde-escuro);
}

.navlink{
    display: block;
    max-width: 100px;
    height: 100%;
    padding: 12px;
    text-align: center; 
    font-size: 1.5em;
    background-color: var(--verde-escuro);
}

#navbar a:hover{
    background-color: var(--cinza-escuro);
}

#welcome-section{
    height: 100vh;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: center;
    background-color: var(--cinza-escuro);
}

.name{
    text-align: center;
    font-size: 3.2em;
    color: #fff;
}

.description{
    font-size: 1.5em;
    color: var(--verde-claro);
}

.projects-title{
    font-size: 2em;
    margin: 20px;
}

.projects-main{
    display:grid;
    grid-template-columns: 50% 50%;
}


.project-div{
    width: 90%;
    height: auto;
    max-width: 650px;
    max-height: 400px;

    margin: 20px;
    display: grid;
    grid-template-rows: auto auto 1em;
}

.project-div > img{
    min-width: 200px;
    min-height: 100px;
    width: 80%;
    height: auto;
    max-width: 600px;
    max-height: 300px;
    margin-left:auto;
    margin-right: auto;
}

.project-div > h2{
    font-size: 1.2em;
    margin-left: auto;
    margin-right: auto;
}

#profile{
    width: 100%;
    min-height: 200px;
}

.profile-title{
    font-size: 2em;
    margin: 20px;
}

.profile-links{
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-around;
}

.profile-div{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: stretch;
    height: 100px;
}

.profile-div img{
    justify-content: center;
    width: 70px;
    height: 70px;
}



